@page "{id:int}"
@model DetailsModel
@{
    ViewData["Title"] = Model.Company.Name;
}

<h1>@Model.Company.Name</h1>
@if (Model.Company.Logo != null)
{
    <img src="~/Image/@Model.Company.Logo.Id" alt="Logo @Model.Company.Name" class="img-fluid" />
}
<div>
    <strong><a href="@Model.Company.Site" target="_blank" rel="noreferrer" class="btn btn-link">Website</a></strong>
</div>
<div>
    <a class="btn btn-primary" role="button" asp-page="/Sponsorships/Index"
        asp-route-CompanyId="@Model.Company.Id">Sponsorizări</a>
    <a asp-page="Edit" asp-route-id="@Model.Company.Id" class="btn btn-warning" role="button">Editează</a>
    <a asp-page-handler="Delete" class="btn btn-danger" role="button">Șterge</a>
</div>
<div>
    <h2>Contacte</h2>
    @if (!Model.Company.Contacts.Any())
    {
        <strong>Nu există contacte la această companie.</strong>
    }
    else
    {
        <ul>
            @foreach (var contact in Model.Company.Contacts)
            {
                <li>@contact.Name</li>
            }
        </ul>
    }
</div>

<style>
    img {
        max-height: 300px;
    }
</style>
