@model Models.Sponsorship

<div>
    <h2>Parteneriat cu @Model.Company.Name pentru @Model.Project.FullName</h2>
    <a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-warning" role="button">
        Editează
    </a>
    <a asp-page="Delete" asp-route-id="@Model.Id" class="btn btn-danger" role="button">
        Șterge
    </a>
    <p>Semnat pe data de @Html.DisplayFor(s => s.SigningDate)</p>
    @if (Model.Volunteer != null)
    {
        <p>Responsabil: @Model.Volunteer.FullName</p>
    }
</div>
